body{
  padding:0;
  margin: 0;
}
.navbar{
  position: fixed;
  display: flex;
  flex-direction: row;
  gap: 10px;
  top: 0;
  z-index: 0;
  width: 100%;
  left: 0;
  background-color: #3E2723;
}
#menu-title{
  margin-right: auto;
  padding-left: 10px;
  color: #5D4037;
}
.nav-button{
  padding: 5px 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 12px;
  border: none;
  background-color: #A1887F;
  transition: all 0.5s ease;
}
#sign-in{
  margin-right: 10px;
}
.nav-button:active{
  transform: scale(1.2);
}
.nav-button:hover{
  transform: translateY(-10px);
  background-color: #1B1B1B;
  color: #fff;
}
.img{
  display: flex;
  justify-content: center;
}
.options{
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  align-items: center;
  margin-right: auto;
  color: #EFEBE9;

}
.single-opt{
  transition: text-decoration-color 0.5s ease-out;
  text-decoration: underline;
  text-decoration-color: transparent;
}
.single-opt:hover{
  text-decoration-color: black;
}
#word-coffee{
  color: #FFB300;
}
.menu{
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6D4C41;
  color: #fff;
}
.info{
  width: 500px;
}

.menu-elements{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 140px;
}
.menu-button{
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
}
.menu-buttons{
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-left: 100px;
}
#coffee-img{
  max-width: 350px;
  border-radius: 50%;
  margin-right: 140px;

}
